[theme]
title = mytheme
description = a simple theme
prefix = /++theme++mytheme/templates
rules = /++theme++mytheme/rules/rules.xml
doctype = <!DOCTYPE html>

# [theme:parameters]
# ajax_load = python:request.get_header('X-Requested-With')=='XMLHttpRequest' or '/notheme/' in request['URL']
# print_css = python:request.form.get("print", "off") == "on"
