/*
  This file contains basic css for Plone integration

  These styles are copied from default Plone css in order
  to make easier to develop a basic theme without depending
  on Plone css.
*/

@import "contentsprites.less";

#content {
  .visualHighlight {
      background-color: #FFFFBB;
  }

  .highlightedSearchTerm {
     background-color: #ffa;
  }
  dl.searchResults .highlightedSearchTerm {
      background-color: transparent;
      font-weight: bold;
  }

  div.documentByLine {
    font-size: 85%;
    display: block;
    color: #666;
  }

  img.tileImage,
  div.newsImageContainer {
    float: right;
    margin: 0 1em 0.5em 1em;
  }

  .eventDetails .eventDetail {
    clear: both;
  }

  .visualNoMarker {
    list-style:none;
    margin-left: 0;
  }

}

.image-left {
   float: left;
   margin: 0.5em 1em 0.5em 0;
}
.image-right {
   float: right;
   margin: 0.5em;
}
.image-inline {
   float: none;
}

.eventDetails {
    float: right;
    clear: right;
    margin: 0 0 0.5em 1em;
}

dl.toc {
    float: right;
    width: 35%;
    font-size: 100%;
    margin: 1em 0 0.5em 1.5em;
  dt {
    margin-left: 1em;
    font-weight: normal;
    text-transform: uppercase;
  }
  dd {
      margin-bottom: 0;
      padding-left: 2em;
    ol {
      margin-left: 1.5em;
    }
  }

}

.collapsible .collapse {
  height: auto;
}

#folderDefaultPageDisplay {
  font-style: italic;
  padding-left: 1.2em;
  color: #5BC0DE;
}

.hiddenStructure {
    display: none;
    background: transparent;
    background-image: none; /* safari bug */
    border: none;
    height: 0.1em;
    overflow: hidden;
    padding: 0;
    margin: -0.1em 0 0 -0.1em;
    width: 1px;
}

/* ensures hidden elements don't take up space */
/* .ie6 is set on <html> by Modernizr library */
.ie6 .hiddenStructure,
.ie7 .hiddenStructure {
    position: absolute;
}

.visualClear {
  clear: both;
}

/* comments */
.comment {
  margin-top: 1.5em;
  font-size: 80%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

}

.comment .documentByLine {
    margin-left: 1em;
}

.comment .formControls {
    margin-left: 0;
}

.commentTime {
    color: #666;
}

.commentBody {
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    box-shadow: 0 0 1em 0 #888;
    -moz-box-shadow: 0 0 0.5em 0 #888;
    -webkit-box-shadow: 0 0 0.5em #888;
}


/* Sitemap */

#portal-sitemap {
  list-style: none;
  margin-left: 0;
  font-size: 130%;
  font-weight: bold;
  li {
    list-style: none;
    margin-left: 0;
  }

  a {
    border-bottom: none;
    display: block;
  }

  > li {
    border-bottom:0.1em dotted #ddd;
    line-height:1.8em;
    padding:0.25em 1em;
    margin-bottom: 0;
  }

  .navTreeLevel2,
  .navTreeLevel2 ul {
    font-size: 85%;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0.25em 0;
  }
}

/* Album view classes */
.photoAlbumEntry {
  float: left;
  position:relative;
  overflow: hidden;
  height: 185px;
  width: 143px;
  margin: 0em;
  padding: 0px 6px 0px 9px;
  text-align: center;
  background-image: url('polaroid-single.png');
  background-repeat: no-repeat;
  img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
  }
  a {
    display: block;
    text-decoration: none;
    font-size: 90%;
    height: 169px;
    width: 130px;
    margin: 16px auto 0px;
  }
}
.photoAlbumEntryWrapper {
  /*display: block;*/
  height: 130px;
  width: 128px;
  margin-bottom: 7px;
}

.photoAlbumFolder {
  background-image: url('polaroid-multi.png');
  background-repeat: no-repeat;
}
.photoAlbumEntryTitle {
  color: #76797c;
  display: block;
  width: 128px;
  height: 3.6em;
}

/* history */

.reviewHistory,
.contentHistory {
    display: inline;
    color: Black;
}
.spacer {
    margin: 1em;
}

div.historyRecord {
    margin-bottom: 1em;
}


div.historyTools{
  ul {
    float: right;
    margin: 2px 1em;
    li {
      display: inline;
      padding: 0 0.015em;
      a {
        border-bottom: none;
      }
    }
  }
  form {
    display: inline;
  }

}

.historyByLine {
    background: #ddd;
    padding: 0.5em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
}

div.historyLinks {
    float: right;
    clear: right;
    margin: 0.5em 1em 0 0;
}


div.historyComment {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    p {
      margin: 0;
      padding-top: 1px;
  }
}


a.historyComparePrevious {
    border-top: 1px dotted #ccc;
    display: block;
    margin-top: 1.5em;
    margin-bottom: -0.5em;
    text-align: center;

    span {
        background-color: white;
        position: relative;
        top: -0.75em;
        padding: 0 0.5em;
    }

}
/* @end */


/* Collapsible */
dl.collapsible {
    border: 0.1em solid #8cacbb;
    margin: 1em 0;
    padding: 0;
    dt.collapsibleHeader {
        display: block;
        float: left;
        background: White;
        line-height: 1.2em;
        vertical-align: middle;
        font-size: 90%;
        position: relative;
        top: -0.6em;
        width: auto;
        margin: 0 0 -0.6em 1em;
        padding: 0 0.5em;
    }
    dd.collapsibleContent {
        margin: 0;
        padding: 0 1em 0.4em;
        clear: left;
    }
}

/* for IE the following isn't needed, that's why the css2 selector is used */
dl.collapsible dd.collapsibleContent > dl {
    margin: 0;
    padding: 0;
}

dl.expandedInlineCollapsible,
dl.expandedBlockCollapsible {
    dt.collapsibleHeader {
        padding: 0 0.5em 0 2em;
        background: White url(treeExpanded.png) no-repeat 0.5em 50%;
        cursor: pointer;
    }
}

dl.collapsedBlockCollapsible {
    border: none;
    height: 1em;
    width: auto;
}

dl.collapsedInlineCollapsible,
dl.collapsedBlockCollapsible {
    dt.collapsibleHeader {
        float: none;
        position: relative;
        margin: 0 0 0 1em;
        padding: 0 0.5em 0 2em;
        line-height: 1.2em;
        cursor: pointer;
        background: White url(treeCollapsed.png) no-repeat 0.5em 50%;
    }
    dd.collapsibleContent {
       display: none;
    }

}

dl.collapsedInlineCollapsible {
    border: none;
    height: 1em;
    width: auto;
    display: inline;
    dt.collapsibleHeader {
        position: static;
        float: none;
        margin: 0;
        padding: 0 0 0 2em;
        line-height: 1em;
        cursor: pointer;
        display: inline;
    }

}

/* search results */
#search-results-bar {
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  float: left;
  padding: 1em 0;
  position: relative;
  width: 100%;
  z-index: 1;
  > * {
    float: left;
  }
  dl.actionMenu {
    margin: 0 .5em;
  }
  dt.actionMenuHeader {
    a {
      border-bottom: medium none;
      &:after {
        content: " ▼";
      }
    }
  }
  dd.actionMenuContent {
    margin-left: 0;
    padding-left: 0;
    margin-top: 1em;
    padding: 0;
    input[type="radio"], input[type="checkbox"] {
      float: none;
    }
    div.field {
      padding: 0 0.7em;
    }
  }
}

dl.actionMenu {
  float: right;
  margin-left: 0.5em;
  position: relative;
  white-space: nowrap;
  &.deactivated dd {
    display: none;
  }
  &.activated dd {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    min-width: 100%;
    position: absolute;
    width: auto;
    background-color: white;
  }
  a, div {
    display: block !important;
    white-space: nowrap;
  }
}

#search-filter {
  legend {
    font-size: 100%;
    font-weight: bold;
    padding: 0 0.7em;
    border-style: solid none;
    border-width: 1px 0;
    border-color: #E5E5E5;
  }
}

input.searchPage {
  display: inline-block;
  float: left;
  font-size: 200% !important;
  &[type='text'] {
    margin: 4px 0.3em;
  }
}


fieldset#search-field {
    border: medium none !important;
    text-align: center;
}
#searchResultsSort {
  float: right;
}

/*
  Standard Plone style from tinyMCE style menu
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th, td {
    padding: 0.5em 1em;
    vertical-align: top;
  }

  &.invisible {
    visibility: visible;
  }

  &.plain {
    th {
      text-align: left;
    }
    th, td {
      border: 1px solid #DDDDDD;
    }
  }

  &.listing {
    tr.odd th {
      border-color: #FFFFFF;
      border-image: none;
      border-style: solid solid none none;
      border-width: 0.1em;
    }
    tbody th {
      font-weight: bold;
    }
    th {
      background: none repeat scroll 0 0 #DDDDDD;
      border-color: #E7E7E7;
      border-image: none;
      border-style: solid solid none;
      border-width: 0.1em;
      color: #666666;
      text-align: left;
    }

    tbody tr.odd td {
      background: none repeat scroll 0 0 #EEEEEE;
    }
    tbody tr td {
      background: none repeat scroll 0 0 transparent;
    }
    td {
      border-right: 1px solid #DDDDDD;
    }
  }
}



ul {
    list-style-image: none;
  &.listTypeCircle {
    list-style-type: circle;
  }

  &.listTypeDisc {
    list-style-type: disc;
  }

  &.listTypeSquare {
    list-style-type: square;
  }

}



.discreet {
    color: #666666;
    font-size: 85%;
    font-weight: normal;
}

.callout {
    background: none repeat scroll 0 0 #EEEEEE;
    border-left: 1em solid #CCCCCC;
    clear: both;
    padding: 1em;
}

.pullquote {
    clear: right;
    float: right;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: -0.08em !important;
    line-height: 1.25em;
    margin: 0 1em 0.5em 0.5em;
    width: 35%;
}

// Forms

.formcontrols input {
  margin-right: .5em
}

input[type="radio"], input[type="checkbox"] {
    float: left;
    margin-right: 0.5em !important;
}

.calendar {
  display: none;
}

.plone_jscalendar {
    select {
        width: auto
    }
}

.field {
    clear: both;
    margin-bottom: 1em;
}

li.formTab a.required span:after,
div.field span.required:after,
div.field .fieldRequired:after {
    color: Red;
    content: "■";
    padding-left: 0.2em;
}

.optionsBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    height: 14em;
    overflow-y: auto;
    width: 100%;
    dd {
      margin-left: 0;
    }
    label {
      &:hover,
      &.checked {
        background-color: #777777;
        color: white;
      }
    }
}

.existingTags {
    float: left;
    width: 50%;
}
.selectedTagsSection {
    float: left;
    margin-bottom: 0;
    margin-left: 3em;
    width: 43%;
}
p.selectedTag {
    margin-bottom: 0.4em;
}

a.link-category,
span.selectedTag {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: black;
    padding: 0.25em 0.5em;
}

.newTagsSection {
    width: 48%;
}

/* twitter Bootstrap fix */
.field .label.formQuestion {
    display: block;
    background-color: transparent;
    color: black;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
    padding: 2px 4px;
    white-space: inherit;
    text-shadow: none;
}


.field label {
  font-weight: bold;
}

.formHelp {
    color: #666666;
    font-size: 85%;
    font-weight: normal;
}

// form tabs
ul.formTabs {
  border: 0.3em solid #DDDDDD;
  border-style: solid solid none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  display: block;
  background-color: #DDDDDD;
  margin-left: 0;
  padding-left: 0;
  li {
    display: inline;
    margin-right: 0.25em;
    line-height: 1.5em;
    margin-bottom: 0.25em;
    a {
      border: medium none;
      line-height: 26px;
      margin: 0;
      padding: 0 0.75em;
      text-decoration: none;
      display: inline-block;
      &:hover,
      &.selected {
        background: none repeat scroll 0 0 White;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        color: Black;
      }
    }

  }
}


// Popup - Overlay
div.overlay {
  display: none;
  margin: 1em;
  width: auto;
  height: auto;
  div.close {
      background-image: url("../img/pb_close.png");
      cursor: pointer;
      height: 30px;
      left: -14px;
      position: absolute;
      top: -14px;
      width: 30px;
      opacity: 1;
      span {
        display: block;
        height: 1px;
        margin: -1px 0 0 -1px;
        overflow: hidden;
        padding: 0;
        width: 1px;
      }
  }
}

div.overlay-iframe,
div.overlay-ajax {
  width: 60%;
  min-height: 100px;
  z-index: 99;
}

.pb-ajax,
.pb-image {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  box-shadow: 0 0 3em 0.5em #666666;
  white-space: normal;
  > div {
    padding: 1em;
    width: 100%;
  }
}

.pb-ajax {
  overflow-y: auto;
}

.spinner,
#ajax-spinner {
  background-position: center center;
  display: none;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: fixed;
  top: 50%;
  width: 20px;
}
// Portlets

dl.portlet {
  margin: 0 0 1em;
  dt {
    background: none repeat scroll 0 0 #DDDDDD;
    line-height: normal;
    padding: 0.42em 1em;
    font-weight: bold;
  }
  dd.portletItem,
  dd.portletFooter,
  &.portletError dd {
    padding: 1em;
  }
  li {
    margin: 0;
    padding: 0;
    display: list-item;
    line-height: 1.5em;
    margin-bottom: 0.25em;
    list-style: none outside none;
  }
}


dl.portletNavigationTree {
  dd.portletItem {
    padding: 0;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    &.navTreeLevel0 > .navTreeItem {
      border-bottom: 0.1em dotted #DDDDDD;
      line-height: 2em;
      padding: 0.25em 1em;
    }
    &.navTreeLevel1 .navTreeItem {
      line-height: 2em;
      padding-left: 0.5em;
    }
    &.navTree {
      .navTreeCurrentItem {
        background-color: #DDDDDD;
        border-left: 1em solid #DDDDDD;
        margin-left: -1em;
        margin-right: -1em;
      }

      li a {
        border: medium none;
        display: block;
      }
    }
  }

}
